* {
  box-sizing: border-box;
}
.container {
  background-color: #15173d;
  width: 100%;
  min-height: 100vh;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
}
.logo {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.searchBox {
  flex: 1;
  height: inherit;
  display: flex;
  justify-self: center;
  align-items: center;
}
.searchInput {
  width: 55%;
  padding: 5px;
  margin: 0px 10px;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: inherit;
  color: white;
  font-size: 15px;
}
.mainGallery {
  padding: 20px 0px;
  width: 100%;
}
.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.5px solid rgba(211, 211, 211, 0.553);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  box-shadow: 1px 1px 3px gray;
}
.dogPicture {
  width: 150px;
  height: 150px;
  align-self: center;
  border-radius: 10px;
  border: 1px solid #242765;
  box-shadow: 1px 1px 3px lightgray;
}
.cardContent h3,
p {
  margin: 0;
  padding: 0;
}
.cardContent h3 {
  align-self: center;
  margin: 10px 0px;
}
.title {
  color: rgba(211, 211, 211, 0.553);
}
